.carousel-navigation {
  list-style: none;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.carousel-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #000;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  opacity: 0.5;
  transition-property: transform, opacity, background-color;
  transition-duration: 0.3s;

  &:hover {
    transform: scale(1.3);
  }
}

.carousel-bullet.active-bullet,
.carousel-bullet.active-bullet:hover {
  opacity: 1;
  transform: scale(1.3);
  background-color: #fff;
  cursor: default;
}
